{% extends 'layout.html.twig' %}

{% block stylesheets %}{% apply spaceless %}
    <link rel="stylesheet" href="{{asset('lib/select2/css/select2.min.css')}}">
    <link rel="stylesheet" href="{{asset('lib/bootstrap-datepicker/bootstrap.datepicker.min.css')}}">
{% endapply %}{% endblock %}

{% block title %}{% apply spaceless %}{{ title ~ ' | ' ~ order.customer.name | upper }}{% endapply %}{% endblock %}

{% block page_title %}{% apply spaceless %}{{ title ~ ' | ' ~ order.customer.name }}{% endapply %}{% endblock %}

{% block content %}{% apply spaceless %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'label.crud.list_title' | trans }} {{ title }}</h3>
                <div class="box-tools col-md-7 col-xs-7 col-sm-7 col-lg-7 pull-right">
                    <div class="input-group">
                        {% if is_granted('add', code_to_menu('INSTALLMENT')) and false == order.paidOff %}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary form-modal-action"><i class="fa fa-plus-circle"></i> {{ 'label.crud.add' | trans }}</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="table-content" class="table table-responsive no-padding table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 49px;">No</th>
                            <th class="text-center">{{ 'label.installment.installment_date' | trans }} <i data-sort="no" data-sort-field="installmentDate" class="fa fa-sort sortable sortable-default pull-right"></i></th>
                            <th class="text-center">{{ 'label.order.product_name' | trans }}</th>
                            <th class="text-center">{{ 'label.customer.name' | trans }}</th>
                            <th class="text-center">{{ 'label.installment.amount' | trans }}</th>
                            <th class="text-center">{{ 'label.installment.description' | trans }}</th>
                            <th class="text-center" style="width: 177px">{{ 'label.crud.action' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody class="table-content">
                    </tbody>
                </table>
            </div>
            <div class="box box-footer">
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 pull-left margin-r-5">
                    <button type="button" class="btn btn-danger refresh margin-r-5"><i class="fa fa-refresh"></i> {{ 'label.crud.refresh' | trans }}</button>
                    <button type="button" class="btn btn-warning back"><i class="fa fa-backward"></i> {{ 'label.crud.back' | trans }}</button>
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 pull-right pagination-box">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-default" id="form-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title form-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="semartForm" method="POST">
                    <input type="hidden" id="id" value="">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.installment.amount' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="amount" placeholder="{{ 'label.installment.amount' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.installment.description' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" placeholder="{{ 'label.installment.description' | trans }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left btn-warning" data-dismiss="modal">{{ 'label.crud.cancel' | trans }}</button>
                <button type="button" class="btn btn-danger save">{{ 'label.crud.save' | trans }}</button>
            </div>
        </div>
    </div>
</div>

{% include 'default/notification_modal.html.twig' %}
{% endapply %}{% endblock %}

{% block javascripts %}{% apply spaceless %}
<script>
    $(window).ready(function () {
        localStorage.setItem('csrf_token', '{{ csrf_token('APP_CSRF_TOKEN') }}');
        localStorage.setItem('cache_id', '{{ cacheId }}');

        $('.query-string').val('');

        $(document).on('click', '.form-modal-action', function () {
            formReset();
            $('.form-title').html('{{ 'label.crud.add_title' | trans({'%title%': title }) }}');
            $('#form-modal').modal();
        });

        $(document).on('click', '.save', function () {
            let id = $('#id').val();
            let amount = $('#amount').val();
            let description = $('#description').val();

            $.post(Routing.generate('installments_save'), {
                _csrf_token: localStorage.getItem('csrf_token'),
                _cache_id: localStorage.getItem('cache_id'),
                id: id,
                amount: amount,
                description: description
            }, function (response) {
                localStorage.setItem('csrf_token', response._csrf_token);
                if ('OK' === response.status) {
                    formReset();
                    $('#form-modal').modal('hide');

                    toastr['success']('{{ 'label.crud.save_message' | trans }}');

                    refreshTable(window.location.href, '{{ title }}');
                } else {
                    let listError = '<ul>';
                    $.each(response.errors, function (key, value) {
                        listError = listError + '<li>' + value + '</li>';
                    });
                    listError = listError + '</ul>';

                    $('.error-body').html(listError);
                    $('.error-modal').modal();
                }
            });
        });

        $(document).on('click', '.delete', function () {
            $('#primaryId').val($(this).data('primary'));
            $('.delete-modal').modal();
        });

        $(document).on('click', '.notif-delete', function () {
            $('.delete-modal').modal('hide');
            $.post(Routing.generate('installments_remove', {id: $('#primaryId').val()}), {_csrf_token: localStorage.getItem('csrf_token')}, function (response) {

                toastr['success']('{{ 'label.crud.delete_message' | trans }}');

                refreshTable(Routing.generate('installments_index'), '{{ title }}');

                localStorage.setItem('csrf_token', response._csrf_token);
            });
        });

        $(document).on('click', '.search-action', function () {
            let params = getQueriesString();

            params['q'] = $('.query-string').val();

            refreshTable(Routing.generate('installments_index', params), '{{ title }}');
        });

        $(document).on('click', '.pagination-container a.btn-danger', function (e) {
            e.preventDefault();
            let url = jQuery(this).attr('href');

            refreshTable(url, '{{ title }}');
        });

        $(document).on('click', '.back', function () {
            window.location.href = Routing.generate('orders_index', {});
        });
    });
</script>
{% endapply %}{% endblock %}
