{% extends 'installment/header.html.twig' %}

{% block title %}{% apply spaceless %}{{ title | upper }}{% endapply %}{% endblock %}

{% block content %}{% apply spaceless %}
<div class="col-md-12 center-block">
    <h3 class="text-center">{{ title | upper }}</h3>
    <table class="table table-responsive no-padding table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th class="text-center" style="width: 49px;">No</th>
            <th class="text-center">{{ 'label.installment.installment_date' | trans }}</th>
            <th class="text-center">{{ 'label.installment.amount' | trans }}</th>
            <th class="text-center">{{ 'label.order.differential' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for key, data in installments %}
            {% set totalPrice = totalPrice - data.amount %}
            <tr>
                <td class="text-right">{{ (key + 1)  }}</td>
                <td style="width: 177px">{{ data.installmentDate | date('d-m-Y') }}</td>
                <td class="text-right">Rp. {{ data.amount | number_format(0, ',', '.')}}</td>
                <td class="text-right"><b>Rp. {{ totalPrice | number_format(0, ',', '.')}}</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}{% endblock %}
