{% extends 'layout.html.twig' %}

{% block title %}{% apply spaceless %}{{ title | upper }}{% endapply %}{% endblock %}

{% block page_title %}{% apply spaceless %}{{ title }}{% endapply %}{% endblock %}

{% block content %}{% apply spaceless %}
{% set totalOrder = total_order() %}
{% set totalRevenue = total_revenue() %}
{% set profit = profit_projection() %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body margin-10">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <tr class="text-bold">
                                <td style="width: 177px;">Total Order:</td>
                                <td class="text-right">{{ count_order() | number_format(0, ',', '.') }}</td>
                            </tr>
                            <tr class="text-bold">
                                <td>Total Lunas:</td>
                                <td class="text-right">{{ count_payoff() | number_format(0, ',', '.') }}</td>
                            </tr>
                            <tr class="text-bold">
                                <td>Total Out Standing:</td>
                                <td class="text-right">{{ count_outstanding() | number_format(0, ',', '.') }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <tr class="text-bold">
                                <td style="width: 177px;">Total Kredit:</td>
                                <td class="text-right">Rp. {{ totalOrder | number_format(0, ',', '.') }}</td>
                            </tr>
                            <tr class="text-bold">
                                <td>Total Revenue:</td>
                                <td class="text-right">Rp. {{ totalRevenue | number_format(0, ',', '.') }}</td>
                            </tr>
                            <tr class="text-bold">
                                <td>Total Selisih:</td>
                                <td class="text-right">Rp. {{ (totalOrder - totalRevenue) | number_format(0, ',', '.') }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <tr class="text-bold">
                                <td style="width: 177px;">Proyeksi Keuntungan:</td>
                                <td class="text-right">Rp. {{ (profit['margin'] + profit['cashback']) | number_format(0, ',', '.') }}</td>
                            </tr>
                            <tr class="text-bold">
                                <td>Real Keuntungan:</td>
                                <td class="text-right">Rp. {{ (real_profit() + profit['cashback']) | number_format(0, ',', '.') }}</td>
                            </tr>
                            <tr class="text-bold">
                                <td>Cashback:</td>
                                <td class="text-right">Rp. {{ profit['cashback'] | number_format(0, ',', '.') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-bold text-center">Revenue Bulanan</h3>
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 49px;">No</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.report.year' | trans }}</th>
                                    <th class="text-center">{{ 'label.report.month' | trans }}</th>
                                    <th class="text-center">{{ 'label.report.revenue' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody class="table-content">
                            {% set defaultYear = date() | date('Y') %}
                            {% set year = app.request.query.get('y', defaultYear) %}
                            {% set revenue = revenue_per_month(year) %}
                            {% set grandTotal = 0 %}
                            {% for i, data in revenue %}
                                {% set grandTotal = grandTotal + data.total %}
                                <tr>
                                    <td class="text-right">{{ i + 1 }}</td>
                                    <td class="text-center">{{ data.tahun }}</td>
                                    <td class="text-center">{{ month_to_text(data.bulan) | humanize }}</td>
                                    <td class="text-right">Rp. {{ data.total | number_format(0, ',', '.')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-right"><b>Total</b></td>
                                    <td colspan="2" class="text-right"><b>Rp. {{ grandTotal | number_format(0, ',', '.')}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-bold text-center">Angsuran Terakhir</h3>
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 49px;">No</th>
                                    <th class="text-center" style="width: 177px;">{{ 'label.installment.installment_date' | trans }}</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.customer.name' | trans }}</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.order.product_name' | trans }}</th>
                                    <th class="text-center">{{ 'label.report.amount' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody class="table-content">
                            {% set lastInstallments = last_installments() %}
                            {% for i, data in lastInstallments %}
                                <tr>
                                    <td class="text-right">{{ i + 1 }}</td>
                                    <td class="text-center">{{ data.installmentDate | date('d-m-Y') }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.productName }}</td>
                                    <td class="text-right">Rp. {{ data.amount | number_format(0, ',', '.')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-bold text-center">Belum Mengangsur Bulan Ini</h3>
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 49px;">No</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.customer.name' | trans }}</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.installment.last_installment' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody class="table-content">
                            {% set arrearsInstallment = arrears_installment() %}
                            {% for i, data in arrearsInstallment %}
                                <tr>
                                    <td class="text-right">{{ i + 1 }}</td>
                                    <td>{{ data.nama }}</td>
                                    <td class="text-center">{{ month_to_text(data.bulan) | humanize }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-bold text-center">Telah Mengangsur Bulan Ini</h3>
                        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 49px;">No</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.customer.name' | trans }}</th>
                                    <th class="text-center" style="width: 227px;">{{ 'label.installment.amount' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody class="table-content">
                            {% set lastestInstallments = lastest_installments() %}
                            {% set i = 0 %}
                            {% for data in lastestInstallments %}
                                {% set i = i + 1 %}
                                <tr>
                                    <td class="text-right">{{ i }}</td>
                                    <td>{{ data.nama }}</td>
                                    <td class="text-right">Rp. {{ data.angsuran | number_format(0, ',', '.')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endapply %}{% endblock %}
