{% apply spaceless %}

{% set menu = code_to_menu('ORDER') %}

{% set startNumber = start_page_number() %}

{% for key, data in orders %}
    {% set customer = data.customer %}
    {% set totalInstallment = sum_installment(data) %}
    {% set diff = data.price + data.margin - totalInstallment %}
    {% set countPayment = count_payment(data) %}
    {% if 0 != countPayment %}
        {% set countPayment = countPayment - 1 %}
    {% endif %}
    <tr>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">{{ (key + startNumber)  }}</td>
        <td {% if data.paidOff %}class="bg-success"{% endif %}{% if data.cancelled %}class="bg-red-active"{% endif %}>{{ customer.name ~ '(' ~ customer.whatsAppNumber ~ ')' }}</td>
        <td {% if data.paidOff %}class="bg-success"{% endif %}{% if data.cancelled %}class="bg-red-active"{% endif %}>{{ data.productName }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">Rp. {{ data.price | number_format(0, ',', '.') }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">Rp. {{ data.margin | number_format(0, ',', '.') }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">Rp. {{ data.cashback | number_format(0, ',', '.') }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">Rp. {{ (data.price + data.margin) | number_format(0, ',', '.') }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">Rp. {{ (data.margin + data.cashback) | number_format(0, ',', '.') }}</td>
        <td {% if data.paidOff %}class="bg-success"{% endif %}{% if data.cancelled %}class="bg-red-active"{% endif %}>{{ data.installmentPeriod ~ ' / ' ~ countPayment }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">Rp. {{ totalInstallment | number_format(0, ',', '.') }}</td>
        <td class="text-right {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">{% if 0 > diff %}Rp. {{ 0.00 | number_format(0, ',', '.') }}{% else %}(Rp. {{ diff | number_format(0, ',', '.') }}){% endif %}</td>
        <td class="text-center {% if data.paidOff %}bg-success{% endif %}{% if data.cancelled %}bg-red-active{% endif %}">
            {% if is_granted('edit', menu) and false == data.deleted %}
                <button data-toggle="modal" data-target="#form-modal" data-primary="{{ data.id }}" data-tooltip="tooltip" title="Perbaharui Data" class="btn btn-xs btn-warning edit margin-r-5"><i class="fa fa-edit"></i> {{ 'label.crud.edit' | trans }}</button>
                {% if false == data.paidOff %}
                    <button data-primary="{{ data.id }}" data-tooltip="tooltip" title="{{ 'label.order.installment_add' | trans }}" class="btn btn-xs btn-success installment-list margin-r-5"><i class="fa fa-plus-square"></i> {{ 'label.order.installment_add' | trans }}</button>
                {% else %}
                    <button data-primary="{{ data.id }}" data-tooltip="tooltip" title="{{ 'label.order.installment_add' | trans }}" class="btn btn-xs btn-primary installment-list margin-r-5"><i class="fa fa-plus-square"></i> {{ 'label.order.installment_list' | trans }}</button>
                {% endif %}
            {% endif %}
            {% if is_granted('delete', menu) and false == data.deleted %}
                <button data-primary="{{ data.id }}" class="btn btn-xs btn-xs btn-danger delete" data-tooltip="tooltip" title="Hapus Data"><i class="fa fa-trash"></i> {{ 'label.crud.delete' | trans }}</button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% endapply %}
